<section class="politica-privacidad">
    <div class="wrapper">
        <mat-drawer-container>
            <mat-drawer #drawer mode='over' position="start">
                <app-left-sidebar (cerrar)="drawer.toggle()"></app-left-sidebar>
            </mat-drawer>
            <app-header-app (drawer)="drawer.toggle()"></app-header-app>
            <div class="body-politica">
                <div class="titulo">
                    <div class="line-color">
                        <div class="vertical-line" style="height: 111px;"></div>
                    </div>
                    <span class="texto-titulo">POLÍTICA DE PRIVACIDAD</span>
                </div>
                <div class="texto">
                    <span class="txt">
                        Lorem ipsum dolor sit amet, consetetur sadipscing 
                        elitr, sed diam nonumy eirmod tempor invidunt ut 
                        labore et dolore magna aliquyam erat, sed diam 
                        voluptua. At vero eos et accusam et justo duo 
                        dolores et ea rebum.
                    </span>
                    <span class="txt">
                        Stet clita kasd gubergren, no sea takimata sanctus 
                        est Lorem ipsum dolor sit amet. Lorem ipsum dolor 
                        sit amet, consetetur sadipscing elitr, sed diam 
                        nonumy eirmod tempor invidunt ut labore et 
                        dolore magna aliquyam erat, sed diam voluptua. 
                    </span>
                    <span class="txt">
                        At vero eos et accusam et justo duo dolores et ea 
                        rebum. Stet clita kasd gubergren, no sea takimata 
                        sanctus est. 
                    </span>
                    <span class="txt">
                        Lorem ipsum dolor sit amet, consetetur sadipscing 
                        elitr, sed diam nonumy eirmod tempor invidunt ut 
                        labore et dolore magna aliquyam erat, sed diam 
                        voluptua. At vero eos et accusam et justo duo 
                        dolores et ea rebum. Stet clita kasd gubergren, no 
                        sea takimata sanctus est Lorem ipsum dolor sit 
                        amet. Lorem ipsum dolor sit amet, consetetur 
                        sadipscing elitr, sed diam nonumy eirmod tempor 
                        invidunt ut labore et dolore magna aliquyam erat, 
                        sed diam voluptua. 
                    </span>
                    <span class="txt">
                        At vero eos et accusam et justo duo dolores et ea 
                        rebum. Stet clita kasd gubergren, no sea takimata 
                        sanctus est Lorem ipsum dolor sit amet. 
                        Lorem ipsum dolor sit amet, consetetur sadipscing 
                        elitr, sed diam nonumy eirmod tempor invidunt ut.
                    </span>
                </div>
                <div class="footer">
                    <app-footer-app></app-footer-app>
                </div>
            </div>
        </mat-drawer-container>
    </div>
</section>